pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        script:
          - git remote add github git@github.com:Gaurav2327/mirror-repo.git
          - git push --mirror github
