pipelines:
  default:
    - step:
        name: Sync GitHub Mirror
        image: alpine/git:latest
        clone:
          enabled: false
        script:
          - git clone --bare git@bitbucket.org:mirror-repo/test-repo.git
          - cd RepoName.git
          - git push --mirror git@github.com:Gaurav2327/mirror-repo.git